/*===================================================== Common ==========================*/
*{
    padding: 0;
    margin: 0;
    /* color: #ffffff; */
}

center{
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem; 
    /*width: 100vw;*/
}

button:hover{
    background-color: burlywood;
}

header{
    background-color: rgb(7, 7, 61);
    height: fit-content;
    width: 100vw;
    /* border-top-left-radius: 7rem;
    border-top-right-radius: 7rem; */
    color: white;
}
.btn-dark{
    color: antiquewhite;
    background-color: aliceblue;
}
.btn-dark:active{
    background-color: aquamarine;
}

#modes{
    display: flex;
    justify-content:stretch;
    position: relative;
    top: 40px;
    left: 20px;
    align-content: center;
}


/*===================================================== header ================*/
#inputContainer{
    background-color: white;
    width: max-content;
    border-radius: 3rem;
    border: 3px solid black;
    padding:10px 20px 5px 20px;
    height: fit-content;
}

#cityInput{
    width: 15rem;
    height: 1rem;
    padding: 2rem;
    border: 0;

}

#city{
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}


/*===================================================== Body ================*/

body{
    background-color:transparent;
    /* border-radius: 7rem; */
    width: max-content;
    /* border: 5px solid red; */
    overflow-x: hidden; 
}

/*======================================================= main ====================*/

/*====== main whether sec ======*/
.main-whether-sec{
    /*display: flex;*/
    justify-content: space-evenly;
    /* background-image: url("../assets/gif/darkCloud.gif");
    background-size: cover; */
    /* background-color: blueviolet; */
}

.main-whether-img{
    background-size: contain;
}

/*-=========== whether section 1 ===========*/
.whether{
    display: flex;
    justify-content:center;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    border-radius: 3rem;
    left: 100px;
    padding: 2rem;
    margin: 2rem;
    background-color: blueviolet;
}
.whether:hover{
    background-color: rgb(103, 91, 113);
}
.whether-icon{
    width: 170px;
}

.whether h1{
    font-size: 4rem;
    font-weight: 500;
}

.whether h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    padding-left: 2rem;
}

.up-down-btn-div{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 300px;
    top: 30px;
    line-height: 2;
    width: fit-content;
    background-color: rgb(18, 218, 11);
    border: 1px solid Black;
    border-radius: 4rem;
    padding: 0;
}


#forecast-up-btn{
    padding: 6px;
    border: 0;
    background-color: transparent;
    border-radius: 4rem;
}

#forecast-up-btn:hover{
    background-color: aqua;
}

#forecast-dwn-btn{
    padding: 6px;
    background-color: transparent;
    border: 0;
    border-radius: 4rem;
}



#forecast-dwn-btn:hover{
    background-color: rgb(226, 231, 221);

}

.details{

    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-between ;    
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 2.4rem;
    margin-right: 0.6rem;
}

.humidity .wind{
    font-size: 1.8rem;
}

/*-=========== hours section  ===========*/
.hours-sec{
    display: grid;
    grid-template-columns:24rem 24rem 24rem;
    justify-content: space-around;
    padding: 0;
}

.hour-whther{
    background-color: rgb(139, 139, 139);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: 9rem;
    border-radius: 2rem;
    margin: 10px;
    border: 2px solid black;
    padding:30px 3px  10px 3px;
}


/*======================================================== footer ====================*/
footer{
    background-color: black;
}

.whether-sec{
    height:max-content;
    border-radius: 4rem;
    
}

.foreCast-big{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.foreCast{
    width: fit-content;
}
/*============= forecast ===============*/

  .error{
    text-align: left;
    margin-left:10px ;
    font-size: 44px;
    margin-top: 10px;
    color: rgb(214, 13, 13);
    display: none;
    background-color: aqua;
    height: 20px;
  }

  .card:hover{
    background-color: #d5bebe;
  }

  /*=============== media ==================*/

  @media(max-width:1400px){
    .hours-sec{
        padding: 2px;
        font-size: small;
        margin-left: 50px;

    }
    
  }

  @media(max-width:1078px){
    .hours-sec{
        display: grid;
        grid-template-columns: 300px 300px;
    }
      .details {
          flex-direction: column;
      }
  }

  @media (max-width: 785px) {

      header{
          width: 100%;
      }
    body{
        background-color: aqua;
    }


    .whether{
        padding: 4px 10px 20px 0px;
        width:fit-content;
        left: 200px;
    }
    .text-Whether{
        width: fit-content;
    }
    .city{
        padding-left: 2px;
    }
    .foreCast-big{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 220px;
    }
    .whether-sec h2 {
        padding-left: 2px;
        font-size: 35px;
        
        margin: 5px;
    }
  }

  @media (max-width: 575px) {

    header{
        width:1150px;
        color: #0dcaf0;
    }
    .hours-sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .whether-sec{
        width: 250px;
    }

    .whether-icon{
        width: 100px;
    }
  }

  @media(max-width: 330px){
    .whether-sec{
        margin-left: 5px;
    }
  }
  

  @media (min-width: 265px) {
    .whether-sec{
        width: fit-content;
        margin-left: 30px;
    }



    
  }

